html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.table td{
  vertical-align: middle;
}

.hover-check-circle:hover .fa-circle:before{
  content: '\f192';
  color: #0a53be;
  font-weight: 900;
}

.hover-check-circle:hover .fa-check-circle:before{
  content: '\f192';
  color: #0a53be;
  font-weight: 400;
}

