<div class="alert alert-danger fade show" role="alert">
    <div class="d-flex justify-content-between mb-2">
        <h3 class="fs-5 m-0">Error</h3>
        <button type="button" class="btn btn-outline-secondary border-0" data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    @Html.ValidationSummary()
</div>