@page
@model ASE3040.Web.Pages.Expenses.DetailsModel

@{
    ViewData["Title"] = "To Do List Details";
}

<h1>Details for Expenses</h1>

<div>
    <strong>Title: Expenses</strong>
    @* @Html.DisplayFor(model => model.ToDoItem.Title) *@
</div>

<!-- Add more details as required -->

<a asp-page="Index">Back to List</a>
