@page
@model ASE3040.Web.Pages.Calender.IndexModel
@{
    ViewData["Title"] = "Calendar";
}

<div class="container my-3">
    <div class="d-flex justify-content-between align-items-end flex-wrap">
        <h2 class="mb-0 text-gray-800">@ViewData["Title"]</h2>
    </div>
    <hr/>
    <div class="row">
        <div id="calendar"></div>
    </div>
</div>


@section Scripts
{
    <script src="js/fullcalendar-6.1.8.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "?handler=CalendarEvents",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) { renderCalendar(data); }
        });
    });
    
    function renderCalendar(events) {
      let calendarEl = document.getElementById('calendar');
      let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'multiMonthYear,dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: events
      });
      calendar.render();
    }
    
    </script>
}
