@page
@model ASE3040.Web.Pages.Calender.IndexModel
@{
    ViewData["Title"] = "Calendar";
}

<!--
<div id='calendar'></div>
-->
@*
@section Scripts
{
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });</script>
} 
*@
<h1 class="h3 mb-2 text-gray-800">Calendar</h1>

<div class="row">
    <!-- Calendar Area-->
    <div class="col-xl-12 col-md-6 mb-4">
        <div class="container-calendar">
            <div class="calendar">
                <div class="front">
                    <div class="current-date">
                        <h1>Wednesday 27th</h1>
                        <h1>September 2023</h1>
                    </div>
                    <div class="current-month">
                        <ul class="week-days">
                            <li>MON</li>
                            <li>TUE</li>
                            <li>WED</li>
                            <li>THU</li>
                            <li>FRI</li>
                            <li>SAT</li>
                            <li>SUN</li>
                        </ul>
                        <div class="weeks">
                            <div class="first">
                                <span class="last-month">28</span>
                                <span class="last-month">29</span>
                                <span class="last-month">30</span>
                                <span class="last-month">31</span>
                                <span>01</span>
                                <span>02</span>
                                <span>03</span>
                            </div>
                            <div class="second">
                                <span>04</span>
                                <span>05</span>
                                <span>06</span>
                                <span>07</span>
                                <span>08</span>
                                <span>09</span>
                                <span>10</span>
                            </div>
                            <div class="third">
                                <span>11</span>
                                <span>12</span>
                                <span>13</span>
                                <span>14</span>
                                <span class="active">15</span>
                                <span>16</span>
                                <span>17</span>
                            </div>
                            <div class="fourth">
                                <span>18</span>
                                <span>19</span>
                                <span>20</span>
                                <span>21</span>
                                <span>22</span>
                                <span>23</span>
                                <span>24</span>
                            </div>
                            <div class="fifth">
                                <span>25</span>
                                <span>26</span>
                                <span>27</span>
                                <span class="event">28</span>
                                <span class="event">29</span>
                                <span class="event">30</span>
                                <span>31</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <input placeholder="Where would you like to visit?">
                    <div class="info">
                        <div class="date">
                            <input placeholder="Date" type="Date" class="info-date"> </input>
                            <input placeholder="Time" type="Time" class="info-time"> </input>
                        </div>
                        <div class="address">
                            <input placeholder="Address" type="Address" class="info-addresss"> </input>
                        </div>
                        <div class="observations">
                            <input placeholder="Expenses" type="Amount" class="info-amount"> </input>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="save">
                            Save <i class="ion-checkmark"></i>
                        </button>
                        <button class="dismiss">
                            Dismiss <i class="ion-android-close"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>