@page
@using ASE3040.Web.Pages.Calender
@{
}

<div id='calendar'></div>

@section Scripts
{
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                dateClick: function(info) {
                    createToDoItem(info.dateStr);
                }
            });
            calendar.render();
        });
        
      function createToDoItem(dateStr) {
          $.ajax({
              type: "POST",
              url: "/api/todoitems",
              data: JSON.stringify({
                  DateTime: dateStr
              }),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function(response) {
                  if(response.success) {
                      alert('ToDo item created successfully for ' + dateStr);
                  } else {
                      alert('Failed to create ToDo item for ' + dateStr);
                  }
              },
              error: function(error) {
                  alert('There was an error while creating ToDo item');
              }
          });
      }
  
    
    
    </script>
} 
