@page
@model IndexModel

@{
    ViewData["Title"] = "Expenses";
}

<h1 class="h3 mb-2 text-gray-800">Expenses</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">

        <h3>Create New Expenses </h3>
        <form>
            <p>
                <label>Place : <input type="text"/></label>
            </p>
            <p>
                <label>Amount: <input type="number"/></label>
            </p>

            <p>
                <input type="submit" name="submit" value="Submit"/>
            </p>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Place</th>
                    <th>Amount</th>
                    <th>Changes</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Date</th>
                    <th>Place</th>
                    <th>Amount</th>
                    <th>Changes</th>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <th>28 September 2023</th>
                    <td>Chinatown</td>
                    <td>$100</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>28 September 2023</th>
                    <td>Little India</td>
                    <td>$70</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>28 September 2023</th>
                    <td>Orchard Road</td>
                    <td>$300</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>28 September 2023</th>
                    <td>Sentosa</td>
                    <td>$50</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>29 September 2023</th>
                    <td>Marina Bay Sands</td>
                    <td>$100</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>29 September 2023</th>
                    <td>Gardens By the Bay</td>
                    <td>$20</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>29 September 2023</th>
                    <td>Lau Pa Sat</td>
                    <td>$150</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>29 September 2023</th>
                    <td>Marina Barradge</td>
                    <td>$0</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>30 September 2023</th>
                    <td>East Coast Park</td>
                    <td>$30</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>30 September 2023</th>
                    <td>Katong Road</td>
                    <td>$50</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>
                <tr>
                    <th>30 September 2023</th>
                    <td>Jewel</td>
                    <td>$70</td>
                    <td style="text-align: center;">
                        <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>