@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    var textColor = "text-warning";

    if (Response.StatusCode >= 500)
    {
        textColor = "text-danger";
    }
}
<style>
    body {
        background-color: #f5f5f5;
        align-items: center;
    }

    html, body {
        height: 100%;
    }

    .headline {
        font-size: 100px;
        font-weight: 300;
    }
</style>

<div class="text-center w-100 h-100 d-flex align-content-center">
    <div class="w-100 m-auto">
        <h2 class="@textColor headline">@Response.StatusCode</h2>
        <h3>
            <i class="fas fa-exclamation-triangle @textColor"></i>
            An error occured while processing your request.
        </h3>
    </div>
</div>

