@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>Hello World !</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Note</th>
            <th scope="col">Done</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToDoItems)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(i => item.Id)</th>
                <td>@Html.DisplayFor(i => item.Title)</td>
                <td>@Html.DisplayFor(i => item.Note)</td>
                <td>@Html.DisplayFor(i => item.Done)</td>
            </tr>
        }
    </tbody>
</table>
