<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Travel Planner</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/sb-admin-2.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/css/sb-admin-2.min.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" /> *@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="~/lib/vendor/fontawesome-free/css/all.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/vendor/datatables/dataTables.bootstrap4.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/vendor/fontawesome-free/css/all.css" asp-append-version="true"/>

</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Travel Planner</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Plan Your Trip
        </div>

        <!-- Nav Item - Itinerary Menu -->
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Itinerary/Index">
                <i class="fas fa-fw fa-cog"></i>
                <span>Itinerary</span>
            </a>
        </li>


        <!-- Nav Item - Expenses Tracker Menu -->
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Expenses/Index">
                <i class="fas fa-fw fa-dollar-sign"></i>
                <span>Expenses Tracker</span>
            </a>
        </li>

        <!-- Nav Item - Calendar View Menu -->
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Calender/Index">
                <i class="fas fa-fw fa-calendar"></i>
                <span>Calendar View</span>
            </a>
        </li>

        <!-- Nav Item - Attraction View Menu -->
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/AttractionView/Index">
                <i class="fas fa-fw fa-walking"></i>
                <span>Attraction View</span>
            </a>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Search -->
                <!-- <form
                         class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form> -->
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                <partial name="_LoginPartial"/>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/js/sb-admin-2.js" asp-append-version="true"></script>
<script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/demo/datatables-demo.js" asp-append-version="true"></script>
<script src="~/lib/vendor/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
<script src="~/lib/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>
<script src="~/lib/vendor/datatables/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>