@inject IHttpContextAccessor HttpContextAccessor;

<ul class="navbar-nav">
    @if (HttpContextAccessor.HttpContext != null &&
         HttpContextAccessor.HttpContext.User.Identity != null &&
         HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        <li class="nav-item me-2">
            <span class="navbar-text">@User.Identity?.Name</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Index" asp-page-handler="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/LoginRedirect">Login</a>
        </li>
    }
</ul>